
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <h4 class="modal-title" id="myBrandLabel" data-translate="smarteshopApp.brand.home.createOrEditLabel">Create or edit a Brand</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.brand.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.brand.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smarteshopApp.brand.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.brand.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smarteshopApp.brand.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.brand.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smarteshopApp.brand.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.brand.status" id="field_status">
                <option value="ACTIVITY" data-translate="smarteshopApp.StatusEnum.ACTIVITY">ACTIVITY</option>
                <option value="UNACTIVITY" data-translate="smarteshopApp.StatusEnum.UNACTIVITY">UNACTIVITY</option>
            </select>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.brand)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="smarteshopApp.brand.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.brand.imageContentType + ';base64,' + vm.brand.image}}" style="max-height: 100px;" ng-if="vm.brand.image"/>
                <!-- <div ng-if="vm.brand.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.brand.imageContentType}}, {{vm.byteSize(vm.brand.image)}}</span>
                    <button type="button" ng-click="vm.brand.image=null;vm.brand.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div> -->
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.brand)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.brand.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.brand.imageContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
