
<form name="editForm" role="form" class="form-horizontal" novalidate
	ng-submit="vm.save()">

	<div class="modal-header">
		<label class="modal-title title-label" id="myBrandLabel"
			data-translate="smarteshopApp.brand.home.createOrEditLabel">Create
			or edit a Brand </label> #{{vm.brand.id}}
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="row">
			<div class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label>Basic Info </label>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-1  control-label"
								data-translate="smarteshopApp.brand.name" for="field_name">Name</label>
							<div class="col-sm-4 no-padding-left">
								<input type="text" class=" form-control" name="name"
									id="field_name" ng-model="vm.brand.name" />
							</div>
							<label class="col-sm-1 control-label"
								data-translate="smarteshopApp.brand.status" for="field_status">Status</label>
							<div class="col-sm-4 no-padding-left">
								<select class="form-control" name="status"
									ng-model="vm.brand.status" id="field_status" required>
									<option value="ACTIVITY"
										data-translate="smarteshopApp.StatusEnum.ACTIVITY">ACTIVITY</option>
									<option value="UNACTIVITY"
										data-translate="smarteshopApp.StatusEnum.UNACTIVITY">UNACTIVITY</option>
								</select>
							</div>
						</div>
						<label data-translate="smarteshopApp.brand.briefDesc">brief Description </label>
						<summernote config="summernoteroptions" ng-model="vm.brand.briefDesc" name="briefDesc" id="field_briefDesc">{{vm.brand.briefDesc}}</summernote>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<label>Brand Description </label>
					</div>
					<div class="panel-body">
						<summernote config="summernoteroptions"
							ng-model="vm.brand.description" name="description"
							id="field_description">{{vm.brand.description}}</summernote>
					</div>
				</div>
			</div>
			<div class="col-sm-3 no-padding-left">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label>Primary Image </label>
						<div class="btn-sm btn-primary pull-right" style="flaot: right">
							<span data-translate="entity.action.addimage">Change Image</span>
						</div>
					</div>
					<div class="panel-body">
						<img ng-src="api/media/1" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ui-sref="{{vm.previousState}}">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>


