<div>
    <h2 data-translate="smarteshopApp.emailSetting.home.title">Email Settings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="email-setting.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="smarteshopApp.emailSetting.home.createLabel">
                        Create new Email Setting
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="host"><span data-translate="smarteshopApp.emailSetting.host">Host</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="port"><span data-translate="smarteshopApp.emailSetting.port">Port</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpSecurity"><span data-translate="smarteshopApp.emailSetting.smtpSecurity">Smtp Security</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromAddress"><span data-translate="smarteshopApp.emailSetting.fromAddress">From Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName"><span data-translate="smarteshopApp.emailSetting.userName">User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="password"><span data-translate="smarteshopApp.emailSetting.password">Password</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emailSetting in vm.emailSettings track by emailSetting.id">
                    <td>{{emailSetting.host}}</td>
                    <td>{{emailSetting.port}}</td>
                    <td data-translate="{{'smarteshopApp.SMTPSecurityEnum.' + emailSetting.smtpSecurity}}">{{emailSetting.smtpSecurity}}</td>
                    <td>{{emailSetting.fromAddress}}</td>
                    <td>{{emailSetting.userName}}</td>
                    <td>{{emailSetting.password}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            
                            <button type="submit"
                                    ui-sref="email-setting.edit({id:emailSetting.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                           
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
