
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmailSettingLabel" data-translate="smarteshopApp.emailSetting.home.createOrEditLabel">Create or edit a Email Setting</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
       
        <div class="form-group">
            <label class="col-sm-2   control-label" data-translate="smarteshopApp.emailSetting.host" for="field_host">Host</label>
            <div class="col-sm-4">
            <input type="text" class="form-control" name="host" id="field_host"
                    ng-model="vm.emailSetting.host"
                    required />
            <div ng-show="editForm.host.$invalid">
                <p class="help-block"
                    ng-show="editForm.host.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
            <label class="col-sm-2  control-label" data-translate="smarteshopApp.emailSetting.port" for="field_port">Port</label>
            <div class="col-sm-4"><input type="number" class="form-control" name="port" id="field_port"
                    ng-model="vm.emailSetting.port"
                    required />
            <div ng-show="editForm.port.$invalid">
                <p class="help-block"
                    ng-show="editForm.port.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.port.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2   control-label" data-translate="smarteshopApp.emailSetting.smtpSecurity" for="field_smtpSecurity">Smtp Security</label>
            <div class="col-sm-4"><select class="form-control" name="smtpSecurity" ng-model="vm.emailSetting.smtpSecurity" id="field_smtpSecurity" required>
                <option value="PLAIN" data-translate="smarteshopApp.SMTPSecurityEnum.PLAIN">PLAIN</option>
                <option value="SSL" data-translate="smarteshopApp.SMTPSecurityEnum.SSL">SSL</option>
                <option value="STARTTLS" data-translate="smarteshopApp.SMTPSecurityEnum.STARTTLS">STARTTLS</option>
            </select>
            <div ng-show="editForm.smtpSecurity.$invalid">
                <p class="help-block"
                    ng-show="editForm.smtpSecurity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
       
            <label class="col-sm-2  control-label" data-translate="smarteshopApp.emailSetting.fromAddress" for="field_fromAddress">From Address</label>
            <div class="col-sm-4"><input type="email" class="form-control" name="fromAddress" id="field_fromAddress"
                    ng-model="vm.emailSetting.fromAddress"
                    required />
            <div ng-show="editForm.fromAddress.$invalid">
                <p class="help-block"
                    ng-show="editForm.fromAddress.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2  control-label" data-translate="smarteshopApp.emailSetting.userName" for="field_userName">User Name</label>
            <div class="col-sm-4"><input type="text" class="form-control" name="userName" id="field_userName"
                    ng-model="vm.emailSetting.userName"
                    required />
            <div ng-show="editForm.userName.$invalid">
                <p class="help-block"
                    ng-show="editForm.userName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
       
            <label class="col-sm-2  control-label" data-translate="smarteshopApp.emailSetting.password" for="field_password">Password</label>
            <div class="col-sm-4"><input type="password" class="form-control" name="password" id="field_password"
                    ng-model="vm.emailSetting.password"
                    required />
            <div ng-show="editForm.password.$invalid">
                <p class="help-block"
                    ng-show="editForm.password.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
