<div class="center-block" style="margin: 15px;">
	<h2 data-translate="smarteshopApp.media.home.title">Media</h2>
	<jhi-alert></jhi-alert>
	<div class="modal-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 no-padding-left">
					<button class="btn btn-primary" ui-sref="media.new">
						<span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs" data-translate="smarteshopApp.media.home.createLabel"> Create new Media </span>
					</button>
				</div>
				<div class="col-xs-8 no-padding-right">
					<form name="searchForm" class="form-inline">
						<div class="input-group pull-right">
							<input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'smarteshopApp.media.home.search' | translate }}"> <span class="input-group-btn width-min">
								<button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
								<button class="btn btn-info" ng-click="vm.clear()">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="modal-body">
		<div class="table-responsive">
			<table class="jh-table table table-striped">
				<thead>
					<tr>
						<th style="width: 30%; text-align: center;">Thumbnail</th>
						<th style="width: 30%; text-align: center;"><span data-translate="smarteshopApp.media.title">Title</span></th>
						<th style="width: 30%; text-align: center;">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="media in vm.media track by media.id">
						<td><img ng-src="data:{{media.contentType}};base64,{{media.content}}" style="max-width: 60px; max-height: 60px; margin: 0 auto; display: block;" /></td>
						<td style="text-align: center;">{{media.title}}</td>
						<td class="text-center">
							<div class="checkbox">
								<label> <input type="checkbox" ng-click="vm.toggle(media.id)" value='{{meida.id}}' />
								</label>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="button" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
</div>
